RETRACTION_LIST_NAME = retractionlist.csv (Must be in "name.csv" format)
CITATION_LIST_NAME = citationlist.csv (Must be in "name.csv" format)
WEB_SCIENCE_USERNAME = a@s.ca
WEB_SCIENCE_PASSWORD = 1234
RETRACTION_LIST_ONLY = 0 (Must be 1 or 0 )
CITATION_LIST_ONLY = 1 (Must be 1 or 0 )
MAX_CITATION_NUMBER = 0 (Must be an integer >=0 )
MAX_RETRACTION_NUMBER = 0 (Must be an integer >=0 )
TITLE_WITH_DATE = 0 (Must be 1 or 0 )
CONTINUE_WRITE = 1 (1 for append 0 for overwrite)
WHERE_TO_START = 0
FAILED_FILE_NAME = faillist.csv (Must be in "name.csv" format)
CREATE_FAIL_FILE = 1